name: daily nosleep

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13.1"

      - name: Install dependencies
        run: pip install praw

      - name: Fetch random nosleep post
        env:
          REDDIT_CLIENT_ID: ${{ secrets.REDDIT_CLIENT_ID }}
          REDDIT_SECRET: ${{ secrets.REDDIT_SECRET }}
          REDDIT_USER_AGENT: ${{ secrets.REDDIT_USER_AGENT }}
        run: |
          python main.py

      - name: Commit and push changes
        run: |
          git config --local user.name "fugoou"
          git config --local user.email "me@fugoou.xyz"
          git add README.md
          git commit -m "nosleep for $(date +'%Y-%m-%d')"
          git push
